<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="list-group">
      <a href="/admin/products" class="list-group-item">
        <h4>Total Products</h4>
        <span class="badge"><%= @total_products %></span>
      </a>
      <a href="/admin/categories" class="list-group-item">
        <h4>Total Categories</h4>
        <span class="badge"><%= @total_categories %></span>
      </a>
  </div>

</section>
