main section.orders-show {

  .order-summary {
    background-color: #f2fff1;
    margin-bottom: 15px;
    padding: 5px 25px 25px 25px;
    border-radius: 10px;
    border: 1px solid #16C60C;
    box-shadow: inset 0 0 5px #16C60C;

    h2 {
      color: #16C60C;
      font-weight: 600;
    }

  }

}